*{
    font-family: "Inter", sans-serif;
}
body{
    margin: 0px;
    padding: 0px;          
}

/* Navbar Section */
nav{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 30px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    padding-left: 0px;
}
nav ul li{
    margin: 10px;
    padding: 0;
}
nav ul li a:hover{
    background-color: lightgray;
    padding: 6px;
    border-radius: 6px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
    padding: 6px;
}
nav button{
    background-color: #1D4ED8;
    margin: 8px;
    padding: 10px 30px;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border: 0px;
}
/* Overlay Section */
.overlay-images{
    position: relative;
}

.overlay-images img{
    width: 100%;
    height: 600px;
}

.button-area{
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.register-btn{
    background-color: #1D4ED8;
    color: white;
    border: none;
    padding: 15px 35px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.register-btn:hover{
    background-color: #3754a5;
}
/* catagory section start here */
.catagory{
    padding: 0px 30px;
}
.catagory .heading h1{
    text-align: center;
}
.speakers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.speakers .card{
    border: 1px solid #D1D5DB;
    border-radius: 4px;
}
.speakers .card img{
    height: 300px;
    width: 600px;
}
.speakers .card .card-container{
    padding: 10px;
}
.speakers .card .card-container .card-subtitle{
    color: blue;
    font-weight: 600;
}
.speakers .card .card-container .card-title{
    margin: 6px 0px;
}
/* Price Starts here */
.price-catagory{
    padding: 0 30px;
}

.price-catagory .heading{
    text-align: center;
    margin-bottom: 40px;
}

.price-catagory .heading p{
    color: #887777;
}

.price-catagory .card{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    gap: 30px;
}

.price-catagory .card-frame{
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    padding: 30px;
    min-height: 400px;
    background: #fff;
}

.price-catagory .card-frame-bg{
    background-color: #1f2937;
    color: #fff;
    border-color: #1f2937;
}

.card-frame button{
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card-frame button{
    background: #111;
    color: #fff;
}

.card-frame-bg button{
    background: #fbbf24;
    color: #111;
    font-weight: bold;
}