*{
    font-family: "Inter", sans-serif;
}
body{
    margin: 0px;
    padding: 0px;          
}

/* Navbar Section */
nav{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 30px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    padding-left: 0px;
}
nav ul li{
    margin: 10px;
    padding: 0;
}
nav ul li a:hover{
    background-color: lightgray;
    padding: 6px;
    border-radius: 6px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
    padding: 6px;
}
nav button{
    background-color: #1D4ED8;
    margin: 8px;
    padding: 10px 30px;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border: 0px;
}
/* Overlay Section */
.overlay-images{
    position: relative;
}

.overlay-images img{
    width: 100%;
    height: 600px;
}

.button-area{
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.register-btn{
    background-color: #1D4ED8;
    color: white;
    border: none;
    padding: 15px 35px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.register-btn:hover{
    background-color: #3754a5;
}
/* catagory section start here */
.catagory{
    padding: 0px 30px;
}
.catagory .heading h1{
    text-align: center;
}
.speakers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.speakers .card{
    border: 1px solid #D1D5DB;
    border-radius: 4px;
}
.speakers .card img{
    height: 300px;
    width: 100%;
}
.speakers .card .card-container{
    padding: 10px;
}
.speakers .card .card-container .card-subtitle{
    color: blue;
    font-weight: 600;
}
.speakers .card .card-container .card-title{
    margin: 6px 0px;
}
/* Price Starts here */
.price-catagory{
    padding: 0 30px;
}

.price-catagory .heading{
    text-align: center;
    margin-bottom: 40px;
}

.price-catagory .heading p{
    color: #887777;
}

.price-catagory .card{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: center;
    gap: 30px;
}

.price-catagory .card-frame{
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    padding: 30px;
    min-height: 400px;
    background: #fff;
}

.price-catagory .card-frame-bg{
    background-color: #1f2937;
    color: #fff;
    border-color: #1f2937;
}

.card-frame button{
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card-frame button{
    background: #111;
    color: #fff;
}

.card-frame-bg button{
    background: #fbbf24;
    color: #111;
    font-weight: bold;
}
/* Blog page start here */
.blog{
    padding:10px 60px;
    background-color:#F9FAFB;
}

.blog h1{
    text-align:center;
    font-size:42px;
    margin-bottom:10px;
}

.blog-text{
    text-align:center;
    color:#6B7280;
    width:60%;
    margin:0 auto 50px;
    line-height:1.6;
}

.blog-container{
    display:flex;
    justify-content:center;
    gap:30px;
}

.blog-card{
    background:white;
    width:350px;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.blog-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.blog-content{
    padding:20px;
}

.blog-content span{
    color:#2563EB;
    font-size:14px;
    font-weight:bold;
}

.blog-content h3{
    margin:12px 0;
    font-size:24px;
}

.blog-content p{
    color:#6B7280;
    line-height:1.6;
}

.blog-content a{
    display:inline-block;
    margin-top:15px;
    text-decoration:none;
    color:#2563EB;
    font-weight:bold;
}

.blog-content a:hover{
    text-decoration:underline;
}
/* Reviews Start here */
.reviews{
    text-align: center;
    padding: 10px 30px;
    background-color: #f5f7fa;
}

.reviews h2{
    font-size: 36px;
    margin-bottom: 40px;
}

.review-container{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.review-card{
    width: 300px;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #D1D5DB;
}

.review-card p{
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.review-card h3{
    color: #16a34a;
    margin: 20px 0 10px;
}

.review-card h4{
    color: #111827;
    font-size: 18px;
}
/* Footer start here */
.footer{
    background-color:#111827;
    color:white;
    padding:40px 60px;
    margin-top: 20px;
}

.footer-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footer-logo h2{
    margin:0;
    font-size:28px;
}

.footer-logo span{
    color:#3B82F6;
}

.social-icons{
    display:flex;
    gap:15px;
}

.social-icons a{
    color:white;
    font-size:20px;
    text-decoration:none;
    width:40px;
    height:40px;
    border:1px solid #374151;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.social-icons a:hover{
    background-color:#2563EB;
    border-color:#2563EB;
}

.footer hr{
    border:none;
    border-top:1px solid #374151;
    margin:30px 0 20px;
}

.copyright{
    text-align:center;
    font-size:15px;
    color:#D1D5DB;
    margin:0;
}